:root {
  --bc-gold: #fcba19;
  --bc-blue: #003366;
  --blue: #0f6cbf;
  --indigo: #6610f2;
  --purple: #613d7c;
  --pink: #e83e8c;
  --red: #D8292F;
  --orange: #ff7518;
  --yellow: #f0ad4e;
  --green: #2E8540;
  --teal: #20c997;
  --cyan: #008196;
  --white: #fff;
  --gray: #606060;
  --gray-dark: #313132;
  --primary: #003366;
  --secondary: #ced4da;
  --success: #357a32;
  --info: #008196;
  --warning: #f0ad4e;
  --danger: #ca3120;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Noto Sans", Verdana, Arial, sans-serif;
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --button-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}

body {
  background-color: var(--bc-blue);
  font-family: var(--font-family-sans-serif);
  color: var(--gray-dark);
  font-size: .95rem;
  font-weight: 400;
  line-height: 1.5;
}

h1 {
  color: var(--gray-dark);
  font-size: 2.4rem;
  margin-top: 8px;
  padding-top: 0;
}

.message {
  max-width: 600px;
  height: min-content;
  margin: 0 auto;
  padding: 40px;
  border-radius: 20px;
  border: 3px solid var(--bc-gold);
  box-shadow: 0 2px 4px rgba(0,0,0,.25);
  background-color: var(--light);
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  max-height: 75px;
  float: right;
}

.btn-primary {
  cursor: pointer;
  color: var(--white);
  background-color: var(--bc-blue);
  border: 1px solid var(--bc-blue);
  font-family: var(--font-family-sans-serif);
  font-weight: 700;
  font-size: 16px;
  vertical-align: middle;
  padding: .375rem .75rem;
  margin-top: 1rem;
  line-height: 1;
  text-align: cennter;
  transition: var(--button-transition);
  border-radius: 8px;
}

.btn-primary:hover {
  background-color: var(--blue);
  text-decoration: underline;
}

.flip180 {
  display: inline-block;
  transform: rotate(180deg);
  font-size: 2rem;
  vertical-align: middle;
}
